@font-face {
    font-family: 'Marvin Visions Bold';
    src: url('/fonts/MarvinVisions-Bold.eot');
    src: url('/fonts/MarvinVisions-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/MarvinVisions-Bold.woff') format('woff'),
    url('/fonts/MarvinVisions-Bold.woff2') format('woff2')
}

@font-face {
    font-family: 'Abril Text Regular';
    src: url('/fonts/Abril_Text_Regular.eot');
    src: url('/fonts/Abril_Text_Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Abril_Text_Regular.woff') format('woff'),
    url('/fonts/Abril_Text_Regular.ttf')  format('truetype'),
    url('/fonts/Abril_Text_Regular.svg#svgFontName') format('svg');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    @include font-primary;
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2 {
    @include font-primary;
    font-size: 24px;
    color: #000;

    @include screen-sm() {
        line-height: $line-height-base * 2;
    }
}

h3 {
    font-size: 18px;
    color: #000;

    @include screen-sm() {
        line-height: $line-height-base * 1.5;
    }
}

h4 {
    font-size: 14px;
    line-height: $line-height-base;
    color: #000;
}

h5 {
    font-size: 12px;
    line-height: $line-height-base;
    color: #000;
}

h6 {
    font-size: 11px;
    line-height: $line-height-base;
    text-transform: uppercase;
    color: #000;
}
