$icon-font-path:                    "../fonts/bootstrap/";
$font-family-sans-serif:            "Open Sans", Helvetica, Arial, sans-serif;
$font-family-serif:                 "Abril Fatface", serif;
$font-size-base:                    16px;
$line-height-base:                  1.75;
$navbar-height:                     70px;
