<div class="navbar nav-primary headroom" role="navigation">
    <div class="container">
        <%= link_to 'Dillon Morton', '/index.html', { class: 'logo' } %>

        <!-- <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <%= nav_link_to 'About', '#' %>
                <%= nav_link_to 'Work', '#' %>
            </ul>
        </div> -->
    </div>
</div>
