<div class="navbar nav-primary headroom" role="navigation">
    <div class="container">
        <span class="logo">
            <span>D</span>il<span>lo</span>n <span>Morton</span>
        </span>
    </div>
</div>

<div class="nav-side hidden-xs">
    <div class="container">
        <ul class="nav-list">
            <%= nav_link_to 'About', '#about' %>
            <%= nav_link_to 'Work', '#work' %>
            <%= nav_link_to 'Contact', '#contact' %>
        </ul>
    </div>
</div>
