body.index {

	.about {
		position: relative;

		.video-background {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			overflow: hidden;
			z-index: -100;
			background: url('/videos/background.jpg');
			background-size: cover;
			background-position: center center;

			video {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		/* 1. No object-fit support: */
		@media (min-aspect-ratio: 16/9) {
			.video-background > video { height: 300%; top: -100%; }
		}
		@media (max-aspect-ratio: 16/9) {
			.video-background > video { width: 300%; left: -100%; }
		}
		/* 2. If supporting object-fit, overriding (1): */
		@supports (object-fit: cover) {
			.video-background > video {
				top: 0; left: 0;
				width: 100%; height: 100%;
				object-fit: cover;
			}
		}

		.full-fade {
			height: 100%;
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			border-bottom: 30px solid #fff;
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
			background: -moz-linear-gradient(top,  rgba(255,255,255,0.93) 0%, rgba(255,255,255,1) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.93)), color-stop(100%,rgba(255,255,255,1)));
			background: -webkit-linear-gradient(top,  rgba(255,255,255,0.93) 0%,rgba(255,255,255,1) 100%);
			background: -o-linear-gradient(top,  rgba(255,255,255,0.93) 0%,rgba(255,255,255,1) 100%);
			background: -ms-linear-gradient(top,  rgba(255,255,255,0.93) 0%,rgba(255,255,255,1) 100%);
			background: linear-gradient(to bottom,  rgba(255,255,255,0.93) 0%,rgba(255,255,255,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#ffffff',GradientType=0 );

			@include screen-md() {
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
				background: -moz-linear-gradient(top,  rgba(255,255,255,0.91) 0%, rgba(255,255,255,1) 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.91)), color-stop(100%,rgba(255,255,255,1)));
				background: -webkit-linear-gradient(top,  rgba(255,255,255,0.91) 0%,rgba(255,255,255,1) 100%);
				background: -o-linear-gradient(top,  rgba(255,255,255,0.91) 0%,rgba(255,255,255,1) 100%);
				background: -ms-linear-gradient(top,  rgba(255,255,255,0.91) 0%,rgba(255,255,255,1) 100%);
				background: linear-gradient(to bottom,  rgba(255,255,255,0.91) 0%,rgba(255,255,255,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#ffffff',GradientType=0 );
			}
		}
	}

	.about-content {
		position: absolute;
		z-index: 10;
		width: 100%;
		margin: 60px 0 0;
		bottom: 0;
		font-size: 20px;
		border-bottom: 12px solid #fff;

			.bio {
				position: relative;
				z-index: 1;
				font-weight: 400;
				padding: 60px 0 110px;
			}

			span {
				font-size: 28px;
				line-height: 1;
			}

			strong {
			font-family: $font-family-serif;
			width: 100%;
			display: block;
			line-height: 1;

			@include screen-md() {
				text-shadow: 0px 4px 0px rgba(255, 255, 255, 1);
			}
		}

		p {
			margin-bottom: 0;
			max-width: 460px;
			font-size: 20px;
			font-weight: 400;
			line-height: 1.5;
			padding: 0 0 15px 20px;
			border-bottom: 2px solid #e9e9e9;
			border-left: 2px solid #e9e9e9;
		}

		.bottom-bar {
			position: fixed;
			z-index: 10;
			bottom: 0;
			left: 0;
			right: 0;
			height: 30px;
			width: 100%;
			border-bottom: 18px solid #000;

			&:after {
				content: '';
				position: absolute;
				background: #000;
				width: 50%;
				height: 30px;
				left: -12px;
			}

			&:before {
				content: '';
				position: absolute;
				background: #000;
				width: 50%;
				height: 30px;
				right: -12px;
			}

			.arrow {
				&:before {
					content: ' ';
					position: fixed;
					bottom: 18px;
					left: 50%;
					border: solid transparent;
					height: 0;
					width: 0;
					z-index: 1;
					pointer-events: none;
					border-color: rgba(0, 0, 0, 0);
					border-bottom-color: #000;
					border-width: 12px;
					margin-left: 0;
				}

				&:after {
					content: ' ';
					position: fixed;
					bottom: 18px;
					left: 50%;
					border: solid transparent;
					height: 0;
					width: 0;
					z-index: 1;
					pointer-events: none;
					border-color: rgba(0, 0, 0, 0);
					border-bottom-color: #000;
					border-width: 12px;
					margin-left: -24px;
				}
			}
		}

		.full-fade {
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
			background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
			background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
			background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
			background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
			background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#ffffff',GradientType=0 );
		}
	}

	.work-arrow {
		position: relative;
		overflow: hidden;
		z-index: 10;
		height: 12px;
		width: 100%;
		background: #fff;

		&:after {
			content: '';
			position: absolute;
			background: #000;
			width: 50%;
			height: 12px;
			left: -12px;
		}

		&:before {
			content: '';
			position: absolute;
			background: #000;
			width: 50%;
			height: 12px;
			right: -12px;
		}

		.arrow {
			&:before {
				content: ' ';
				position: absolute;
				bottom: 0;
				left: 50%;
				border: solid transparent;
				height: 0;
				width: 0;
				z-index: 1;
				pointer-events: none;
				border-color: rgba(0, 0, 0, 0);
				border-bottom-color: #000;
				border-width: 12px;
				margin-left: 0;
			}

			&:after {
				content: ' ';
					position: absolute;
				bottom: 0;
				left: 50%;
				border: solid transparent;
				height: 0;
				width: 0;
				z-index: 1;
				pointer-events: none;
				border-color: rgba(0, 0, 0, 0);
				border-bottom-color: #000;
				border-width: 12px;
				margin-left: -24px;
			}
		}
	}

	.work {
		position: relative;
		z-index: 30;
		background: #000;
		color: #fff;

		.content {
			overflow: hidden;
			padding-top: 52px;

			@include screen-sm() {
				padding-top: 108px;
				padding-bottom: 80px;
			}

			.container {
				padding-left: 0;
				padding-right: 0;

				@include screen-sm() {
					padding-left: 15px;
					padding-right: 15px;
				}
			}

			.project-list {
				@include screen-sm() {
					margin: 0 -30px;
				}

				.project-thumb {
					position: relative;
					overflow: hidden;
					display: block;
					background: #fff;
					padding: 0;
					margin: 0 30px 60px;

					@include screen-sm() {
						margin: 0;
						border: 30px solid #000;
						border-top: 0;
						border-bottom: 60px solid #000;
					}

					.project-title {
						position: absolute;
						bottom: 0;
						background: rgba(255, 255, 255, 0.95);
						width: 100%;
						padding: 15px;
						font-size: 13px;

						strong {
							display: block;
							font-size: 17px;
						}
					}

					img {
						width: 100%;
						height: auto;
						opacity: 1;
						transition: opacity 0.25s;

						&:first-child {
							position: absolute;
							opacity: 0;
							bottom: 40px;
						}
					}

					&:hover {
						img {
							opacity: 0.05;

							&:first-child {
								opacity: 1;
							}
						}
					}
				}
			}

			h3 {
				margin: 0 0 60px;
				display: inline-block;
				width: 100%;
				font-size: 20px;
				line-height: 1;
				font-weight: 700;
				color: #fff;
				text-transform: uppercase;
			}

			.client-list {
				font-size: 0;
				text-align: center;

				.client-logo {
					max-width: 200px;
					width: 50%;
					display: inline-block;
					padding: 0 15px;
					margin-bottom: 30px;

					@include screen-md() {
						width: 20%;
						padding: 0 30px;
						margin-bottom: 0;
					}

					a {
						display: inline-block;
						opacity: 1;
						transition: opacity 0.25s;

						&:hover {
							opacity: 0.5;
						}
					}

					img {
						width: 80%;
						height: auto;
					}
				}
			}
		}

		&:after {
			top: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			z-index: 1;
			pointer-events: none;
			border-color: rgba(0, 0, 0, 0);
			border-top-color: #000;
			border-width: 12px;
			margin-left: -12px;
		}
	}

	.contact {
		position: relative;
		z-index: 20;
		background: #fff;

		.content {
			position: relative;
			@include vertical-align;

			ul {
				display: block;
				margin: 0 auto;
				list-style: none;
				padding: 0;
				font-size: 0;

				li {
					display: block;
					padding: 15px;

					@include screen-sm() {
						display: inline-block;
					}

					a {
						display: inline-block;
						height: 60px;
						width: 60px;
						text-indent: -9999px;
						opacity: 1;
						transition: opacity 0.25s;

						&:hover {
							opacity: 0.5;
						}

						&.social-email {
							background: url('/images/icons/email.png');
							background-size: 60px 60px;
						}

						&.social-github {
							background: url('/images/icons/github.png');
							background-size: 60px 60px;
						}

						&.social-dribbble {
							background: url('/images/icons/dribbble.png');
							background-size: 60px 60px;
						}

						&.social-linkedin {
							background: url('/images/icons/linkedin.png');
							background-size: 60px 60px;
						}
					}
				}
			}
		}
	}
}
