body.work {

	.nav-primary,
	.nav-side {
		display: none;
	}

	.work-piece {
		position: relative;

		.work-piece-header {
			position: relative;
			padding: 70px 0 90px;
			color: #000;
			border: 0;
			margin-bottom: 0;
			@include transition(all 0.4s);

			.work-piece-title {
				font-family: $font-family-serif;
				display: block;
				color: #000;
				font-size: 32px;
				line-height: 32px;
				letter-spacing: 1px;
				text-align: center;
				background: #fff;
				padding: 14px 0;
			}

			.description {
				font-family: 'Abril Text Regular';
				margin: 25px auto 0;
				font-size: 14px;
				max-width: 560px;

				.website {
					display: block;
					margin: 40px 0 0;
					text-decoration: underline;
					text-align: center;
				}
			}

			.role {
				display: none;
				margin: 0 auto;
				font-size: 13px;
				text-align: center;

				strong {
					display: block;
					font-weight: 800;
					text-transform: uppercase;
				}
			}

			&:after {
				content: ' ';
				position: absolute;
				top: 100%;
				left: 50%;
				border: solid transparent;
				height: 0;
				width: 0;
				z-index: 1;
				pointer-events: none;
				border-color: rgba(255, 255, 255, 0);
				border-top-color: #fff;
				border-width: 12px;
				margin-left: -12px;
			}
		}

		.back {
			position: fixed;
			top: 0;
			right: 0;
			background: #fff;
			font-size: 30px;
			line-height: 1px;
			text-align: center;
			padding: 15px;
			transition: all 0.2s ease;
			opacity: 1;
			z-index: 3;

			img {
				height: 15px;
				width: 15px;

				@include screen-sm() {
					height: 30px;
					width: 30px;
				}
			}

			&:hover {
				opacity: 0.8;
			}

			&.headroom--pinned {
				top: 0;
			}

			&.headroom--unpinned {
				top: -60px;
			}
		}

		img {
			width: 100%;
		}

		.video-container {
			position: relative;
			width: 100%;
			height: 0;
			padding-bottom: 57%;
		}

		.video-iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		&:after {
			top: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			z-index: 1;
			pointer-events: none;
			border-color: rgba(255, 255, 255, 0);
			border-top-color: #ffffff;
			border-width: 12px;
			margin-left: -12px;
		}
	}

	.work-piece-footer {
		padding: 120px 0;
		color: #fff;
		overflow: hidden;
		text-align: center;

		.container {
			position: relative;
		}

		.work-nav-back {
			display: inline-block;
			text-align: center;
			font-size: 22px;
			text-transform: uppercase;
			font-weight: 700;
			line-height: 32px;
			color: #000;
			background: #fff;
			padding: 14px 20px;
			transition: all 0.4s;

			&:hover {
				background: #dfdfdf;
			}
		}

		.work-nav {
			position: absolute;
			font-size: 22px;
			text-transform: uppercase;
			font-weight: 700;
			line-height: 32px;
			color: #fff;
			background: #000;
			padding: 14px 20px;
			transition: all 0.4s;
			font-size: 0;

			@include screen-sm() {
				font-size: 22px;
			}

			img {
				margin-top: -4px;
				height: 16px;
			}

			&:hover {
				color: #fff;
				opacity: 0.8;
			}

			&:before {
				content: '';
				position: absolute;
				height: 100%;
				width: 9999px;
				top: 0;
				background: #000;
			}

			&.prev {
				left: 0;

				img {
					@include screen-sm() {
						margin-right: 15px;
					}
				}

				&:before {
					right: 100%;
				}
			}

			&.next {
				right: 0;

				img {
					@include screen-sm() {
						margin-left: 15px;
					}
				}

				&:before {
					left: 100%;
				}
			}
		}

		.description {
			font-size: 21px;
			font-weight: 300;

			@include screen-sm() {
				width: 75%;
			}
		}
	}

	&.work_other-work {
		.work-piece-footer .visit {
			display: none;
		}

		.description {
			@include screen-sm() {
				width: 100%;
			}
		}
	}

	.case-study + .case-study {
		margin-top: 120px;
	}

	.case-study-header {
		padding-top: 60px;
		background: #f8e2e2;

		.container {
			position: relative;
		}

		.case-study-title {
			display: inline-block;
			position: relative;
			font-family: $font-family-sans-serif;
			left: 50%;
			margin-top: 60px;
			@include transform(translateX(-50%));

			@include screen-sm() {
				left: 0;
				@include transform(translateX(0));
			}

			strong {
				position: relative;
				z-index: 1;
				font-weight: 800;
				font-size: 24px;
				text-transform: uppercase;
			}

			.case-study-name {
				display: block;
				position: relative;
				font-size: 17px;
				z-index: 1;
			}

			.case-study-number {
				position: absolute;
				top: -25px;
				left: 0;
				font-family: $font-family-serif;
				color: #fff;
				font-size: 120px;
				line-height: 1;
				opacity: 0.45;
				z-index: 0;
				@include transform(translateX(-50%));
			}
		}

		.case-study-description {
			margin-top: 60px;
			font-size: 13px;

			p {
				font-family: 'Abril Text Regular';
			}

			strong {
				display: block;
				margin-bottom: 7px;
				font-weight: 800;
				text-transform: uppercase;
			}

			&:last-child {
				margin-bottom: 60px;

				@include screen-sm() {
					margin-bottom: 120px;
				}

				p {
					margin-bottom: 0;

					em {
						font-size: 20px;
						font-style: normal;
						font-weight: 600;
						opacity: 0.7;
					}
				}
			}
		}

		.case-study-image {
			padding-right: 15px;

			@include screen-sm() {
				position: absolute;
				right: 0;
				bottom: 0;
				width: 58%;
				max-height: 100%;
				overflow: hidden;
			}

			img {
				max-height: 100%;
			}
		}
	}

	.case-study-step {
		padding: 0 0 240px;
		overflow: hidden;

		@include screen-md() {
			padding: 120px 0;
		}

		img,
		.video-example-container {
			position: relative;
			margin-bottom: 120px;
			z-index: 2;

			@include screen-md() {
				margin-bottom: 0;
			}
		}

		.video-example-container {
			overflow: hidden;

			video {
				display: block;
				width: 100%;
				margin-left: 1px;
				margin-bottom: -1px;
			}
		}

		.step-info {
			position: relative;
			padding-left: 30px;
			margin-left: 30px;

			p {
				font-family: 'Abril Text Regular';
				font-size: 14px;
			}

			&:before {
				content: '';
				position: absolute;
				z-index: 1;
				display: inline-block;
				margin-left: -35px;
				margin-top: 19px;
				height: 11px;
				width: 11px;
				border-radius: 50%;
				border: 2px solid #000;
				background: #fff;
				transition: all 0.4s;
			}

			&:after {
				content: '';
				position: absolute;
				display: inline-block;
				height: 9999px;
				width: 2px;
				top: -105px;
				left: 0;
				background: #bfbfbf;
				opacity: 0.2;

				@include screen-md() {
					top: -50%;
				}
			}

			h3 {
				font-weight: 800;
				font-size: 18px;
				text-transform: uppercase;
				margin-top: -17px;
			}
		}

		&:first-child {
			padding: 120px 0 240px;

			@include screen-md() {
				padding: 120px 0;
			}

			.step-info:after {
				@include screen-md() {
					top: 26px;
				}
			}
		}

		&:last-child {
			padding: 0;

			@include screen-md() {
				padding: 120px 0 0;
			}

			.step-info:after {
				top: -120px;
				height: 140px;
			}
		}
	}

	.work-video {
		display: block;
		margin: 0;
		padding: 30px 0;
		background: #fff;
		background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%);
		background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%);
		background: linear-gradient(to bottom, #ffffff 0%,#efefef 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 );

		@include screen-sm() {
			padding: 120px 0;
		}

		video {
			width: 100%;
		}

		&.dark {
			background: #7f7f7f;
			background: -moz-linear-gradient(top, #ffffff 0%, #7f7f7f 100%);
			background: -webkit-linear-gradient(top, #ffffff 0%,#7f7f7f 100%);
			background: linear-gradient(to bottom, #ffffff 0%,#7f7f7f 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#7f7f7f',GradientType=0 );
		}

		&.reverse {
			background: -moz-linear-gradient(top, #efefef 0%, #ffffff 100%);
			background: -webkit-linear-gradient(top, #efefef 0%,#ffffff 100%);
			background: linear-gradient(to bottom, #efefef 0%,#ffffff 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#ffffff',GradientType=0 );
		}

		&.mobile {
			margin: 120px 0;
			padding: 0;
			text-align: center;
			background: #fff;

			video {
				position: relative;
				max-width: 300px;
				border: 0;
				border-radius: 0;
				z-index: 1;

				@include screen-md() {
					float: right;
					margin-right: 15px;
				}
			}
		}

		.work-video-commentary {
			position: relative;
			padding-left: 30px;
			margin: 60px auto 0;
			max-width: 300px;
			text-align: left;
			@include transform(translateX(30px));
			padding-right: 30px;

			@include screen-sm() {
				margin: 60px 0 0;
				@include transform(translateX(0));
				padding-right: 0;
			}

			@include screen-md() {
				margin-left: 15px;
			}

			p {
				font-family: 'Abril Text Regular';
				font-size: 14px;
			}

			&:before {
				content: '';
				position: absolute;
				z-index: 1;
				display: inline-block;
				margin-left: -35px;
				margin-top: 19px;
				height: 11px;
				width: 11px;
				border-radius: 50%;
				border: 2px solid #000;
				background: #fff;
				transition: all 0.4s;
			}

			&:after {
				content: '';
				position: absolute;
				display: inline-block;
				height: 71px;
				width: 2px;
				left: 0;
				top: -51px;
				background: #bfbfbf;
				opacity: 0.2;

				@include screen-sm() {
					position: absolute;
					display: inline-block;
					height: 2px;
					width: 100%;
					top: 23px;
					left: auto;
					right: 100%;
					margin-left: 30px;
					margin-right: 0;
				}
			}

			h3 {
				font-weight: 800;
				font-size: 18px;
				line-height: 2.625;
				text-transform: uppercase;
				margin-top: -17px;
			}
		}
	}
}
