---
layout: work
title: Aurum
url: aurumgoods.com
description: Aurum is an emerging brand providing hand dyed & sewn goods from the Pacific Northwest. I helped create their brand in addition to print and digital marketing materials.
roles: <span>Indentity</span>
---

<img src="/images/work/aurum/01.jpg">
<img src="/images/work/aurum/02.jpg">
<img src="/images/work/aurum/07.jpg">
<img src="/images/work/aurum/04.jpg">
<img src="/images/work/aurum/03.jpg">
<img src="/images/work/aurum/09.jpg">
