---
layout: work
title: CaptainU
url: captainu.com
description: CaptainU’s application suite empowers over 2 million high school athletes, college coaches, club teams, and tournament directors to drive their recruiting process forward. Working with the product team, I help grow engagement and value through sketching, prototyping, user testing, designing, and building the interfaces of our applications.
roles: <span>User Experience</span>, <span>User Interface Design</span>, & <span>Web Development</span>
prev:
next: <a class="work-nav next" href="/work/travely" title="Next">Next<img src="/images/icons/next.png"></a>
---

<div class="case-study" id="01">
	<div class="case-study-header">
		<div class="container">
			<div class="row">
				<div class="col-sm-5 col-md-4">
					<div class="case-study-title">
						<strong>Case Study</strong>
						<span class="case-study-name">
							CaptainU Athlete: Coach Activity
						</span>
						<span class="case-study-number">
							1
						</span>
					</div>
					<div class="case-study-description">
						<strong>Hypothesis</strong>
						<p>
							Allowing athletes to easily track their progress and interactions with coaches will give them a better understanding of what their next steps should be to make a great college team.
						</p>
					</div>
					<div class="case-study-description">
						<strong>Results</strong>
						<p>
							Upon A/B testing the new design against the old, there was a <em>70%&nbsp;increase</em> in paid upgrades across <em>93,627 users</em> and a <em>74% increase</em> in engagement for <em>10,266 athletes</em> messaging and adding colleges to their list of prospects from this page.
							<!-- <em>16,917 users/em> for engagement part -->
						</p>
					</div>
				</div>
				<div class="case-study-image">
					<img src="/images/work/captainu/case-study-01.jpg">
				</div>
			</div>
		</div>
	</div>
	<div class="steps">
		<div class="case-study-step">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="video-example-container">
							<video autoplay loop muted poster='/videos/work/cap-01.jpg'>
								<source src="/videos/work/cap-01.mp4" type="video/mp4">
								<source src='/videos/work/cap-01.webm' type='video/webm'>
								<source src='videos/work/cap-01.ogv' type='video/ogg'>
							</video>
						</div>
					</div>
					<div class="col-md-4">
						<div class="step-info">
							<h3>Visual Design</h3>
							<p>
								Here is the desktop workflow that was shipped and A/B tested in production after several iterations and phases to make sure it was easy-to-use, scoped for development, and driving business goals. For the visual design phase, the nuances of the interface and content come together after the user experience is confirmed through user testing prototypes that utilize&nbsp;wireframes.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="case-study-step">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="video-example-container">
							<video autoplay loop muted poster='/videos/work/cap-02.jpg'>
								<source src="/videos/work/cap-02.mp4" type="video/mp4">
								<source src='/videos/work/cap-02.webm' type='video/webm'>
								<source src='videos/work/cap-02.ogv' type='video/ogg'>
							</video>
						</div>
					</div>
					<div class="col-md-4">
						<div class="step-info">
							<h3>Wireframes</h3>
							<p>
								During the wireframe design phase, multiple rounds of prototypes are tested early on with athletes who have a range of experience with our web application and tools to make sure the workflow is intuitive and is valuable to our users. These are conducted with click tests and one-on-one meetings where we watch users interact and click through the workflow. Once we have enough evidence to feel confident in the direction of the UX, we are able to check with the development team to make sure the functionality is plausible to implement within our timeline and&nbsp;budget.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="case-study-step">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<img src="/images/work/captainu/06.jpg">
					</div>
					<div class="col-md-4">
						<div class="step-info">
							<h3>Sketches</h3>
							<p>
								Every project begins with a design studio, which aims to define the direction, strategy, and a hypothesis to solve a tension for our users. In this project’s case, the opportunity was around improving the steps for athletes to organize, find, and add prospective colleges to their list, since our data shows that athletes who are active with these tools are more likely to upgrade. Once the opportunity is defined, each team member shares a number of quick sketches to drive discussion and to solidify what the solution could become during the wireframe&nbsp;phase.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="case-study" id="02">
	<div class="case-study-header">
		<div class="container">
			<div class="row">
				<div class="col-sm-5 col-md-4">
					<div class="case-study-title">
						<strong>Case Study</strong>
						<span class="case-study-name">
							CaptainU Athlete: College List
						</span>
						<span class="case-study-number">
							2
						</span>
					</div>
					<div class="case-study-description">
						<strong>Hypothesis</strong>
						<p>
							Making it easier for athletes to find and add colleges to their list of prospects will increase user engagement. This is a key step for athletes when beginning their recruiting process.
						</p>
					</div>
					<div class="case-study-description">
						<strong>Results</strong>
						<p>
							Upon A/B testing the new design against the old, there was a <em>76%&nbsp;increase</em> in engagement across <em>26,957 users</em> in&nbsp;<em>2&nbsp;weeks</em>
						</p>
					</div>
				</div>
				<div class="case-study-image">
					<img src="/images/work/captainu/case-study-02.jpg">
				</div>
			</div>
		</div>
	</div>
	<div class="steps">
		<div class="case-study-step">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="video-example-container">
							<video autoplay loop muted poster='/videos/work/cap-01.jpg'>
								<source src="/videos/work/cap-01.mp4" type="video/mp4">
								<source src='/videos/work/cap-01.webm' type='video/webm'>
								<source src='videos/work/cap-01.ogv' type='video/ogg'>
							</video>
						</div>
					</div>
					<div class="col-md-4">
						<div class="step-info">
							<h3>Visual Design</h3>
							<p>
								Here is the desktop workflow that was shipped and A/B tested in production after several iterations and phases to make sure it was easy-to-use, scoped for development, and driving business goals. For the visual design phase, the nuances of the interface and content come together after the user experience is confirmed through user testing prototypes that utilize&nbsp;wireframes.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="case-study-step">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="video-example-container">
							<video autoplay loop muted poster='/videos/work/cap-02.jpg'>
								<source src="/videos/work/cap-02.mp4" type="video/mp4">
								<source src='/videos/work/cap-02.webm' type='video/webm'>
								<source src='videos/work/cap-02.ogv' type='video/ogg'>
							</video>
						</div>
					</div>
					<div class="col-md-4">
						<div class="step-info">
							<h3>Wireframes</h3>
							<p>
								During the wireframe design phase, multiple rounds of prototypes are tested early on with athletes who have a range of experience with our web application and tools to make sure the workflow is intuitive and is valuable to our users. These are conducted with click tests and one-on-one meetings where we watch users interact and click through the workflow. Once we have enough evidence to feel confident in the direction of the UX, we are able to check with the development team to make sure the functionality is plausible to implement within our timeline and&nbsp;budget.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="case-study-step">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<img src="/images/work/captainu/05.jpg">
					</div>
					<div class="col-md-4">
						<div class="step-info">
							<h3>Sketches</h3>
							<p>
								Every project begins with a design studio, which aims to define the direction, strategy, and a hypothesis to solve a tension for our users. In this project’s case, the opportunity was around improving the steps for athletes to organize, find, and add prospective colleges to their list, since our data shows that athletes who are active with these tools are more likely to upgrade. Once the opportunity is defined, each team member shares a number of quick sketches to drive discussion and to solidify what the solution could become during the wireframe&nbsp;phase.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
