---
layout: work
title: CaptainU
url: captainu.com
description: CaptainU’s application suite empowers over 2 million high school athletes, college coaches, club teams, and tournament directors to drive their recruiting process forward.
---

<!-- <img src="/images/work/captainu/01.jpg"> -->

<div class="case-study">
	<div class="case-study-header">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="case-study-title">
						<strong>Case Study</strong>
						<span class="case-study-name">
							CaptainU Athlete: College List
						</span>
						<span class="case-study-number">
							1
						</span>
					</div>
					<div class="case-study-description">
						<strong>Hypothesis</strong>
						<p>
							Making it easier for athletes to add colleges to their list of prospects, which is a key step towards beginning their recruiting process, will increase user engagement.
						</p>
					</div>
					<div class="case-study-description">
						<strong>Results</strong>
						<p>
							A/B test: 76% increase in conversions for 26,957 users in over 2 weeks
						</p>
					</div>
				</div>
				<div class="case-study-image">
					<img src="/images/work/captainu/case-study-01.jpg">
				</div>
			</div>
		</div>
	</div>
	<div class="steps">
		<div class="case-study-step">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<img src="/images/work/captainu/02.jpg">
					</div>
					<div class="col-md-4">
						<div class="step-info">
							<h3>Visual Design</h3>
							<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="case-study-step">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<img src="/images/work/captainu/03.png">
					</div>
					<div class="col-md-4">
						<div class="step-info">
							<h3>Wireframes</h3>
							<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="case-study-step">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<img src="/images/work/captainu/02.jpg">
					</div>
					<div class="col-md-4">
						<div class="step-info">
							<h3>Sketches</h3>
							<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="case-study">
	<div class="case-study-header">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="case-study-title">
						<strong>Case Study</strong>
						<span class="case-study-name">
							CaptainU Athlete: College List
						</span>
						<span class="case-study-number">
							2
						</span>
					</div>
					<div class="case-study-description">
						<strong>Hypothesis</strong>
						<p>
							Making it easier for athletes to add colleges to their list of prospects, which is a key step towards beginning their recruiting process, will increase user engagement.
						</p>
					</div>
					<div class="case-study-description">
						<strong>Results</strong>
						<p>
							A/B test: 76% increase in conversions for 26,957 users in over 2 weeks
						</p>
					</div>
				</div>
				<div class="case-study-image">
					<img src="/images/work/captainu/case-study-01.jpg">
				</div>
			</div>
		</div>
	</div>
	<div class="steps">
		<div class="case-study-step">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<img src="/images/work/captainu/02.jpg">
					</div>
					<div class="col-md-4">
						<div class="step-info">
							<h3>Visual Design</h3>
							<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="case-study-step">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<img src="/images/work/captainu/02.jpg">
					</div>
					<div class="col-md-4">
						<div class="step-info">
							<h3>Wireframes</h3>
							<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="case-study-step">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<img src="/images/work/captainu/02.jpg">
					</div>
					<div class="col-md-4">
						<div class="step-info">
							<h3>Wireframes</h3>
							<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="case-study">
	<div class="case-study-header">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="case-study-title">
						<strong>Case Study</strong>
						<span class="case-study-name">
							CaptainU Athlete: College List
						</span>
						<span class="case-study-number">
							3
						</span>
					</div>
					<div class="case-study-description">
						<strong>Hypothesis</strong>
						<p>
							Making it easier for athletes to add colleges to their list of prospects, which is a key step towards beginning their recruiting process, will increase user engagement.
						</p>
					</div>
					<div class="case-study-description">
						<strong>Results</strong>
						<p>
							A/B test: 76% increase in conversions for 26,957 users in over 2 weeks
						</p>
					</div>
				</div>
				<div class="case-study-image">
					<img src="/images/work/captainu/case-study-01.jpg">
				</div>
			</div>
		</div>
	</div>
	<div class="steps">
		<div class="case-study-step">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<img src="/images/work/captainu/02.jpg">
					</div>
					<div class="col-md-4">
						<div class="step-info">
							<h3>Visual Design</h3>
							<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="case-study-step">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<img src="/images/work/captainu/02.jpg">
					</div>
					<div class="col-md-4">
						<div class="step-info">
							<h3>Wireframes</h3>
							<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="case-study-step">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<img src="/images/work/captainu/02.jpg">
					</div>
					<div class="col-md-4">
						<div class="step-info">
							<h3>Wireframes</h3>
							<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
