---
layout: work
title: Fake Diamonds Clothing
url: fakediamondsclothing.com
description: I started Fake Diamonds in 2008 to provide a rotating collection of limited clothes & products focused on art, design, and collaboration. My role as creator & owner has involved just about everything, but my main focus over the years has been continually strengthening the brand and direction, designing products, and designing & developing the online store.
roles: <span>Identity</span>, <span>Art Direction</span>, <span>User Interface Design</span>, <span>Print Design</span>, & <span>Web Development</span>
prev: <a class="work-nav prev" href="/work/travely" title="Previous"><img src="/images/icons/prev.png">Previous</a>
next: <a class="work-nav next" href="/work/aurum" title="Next">Next<img src="/images/icons/next.png"></a>
---

<img src="/images/work/fake-diamonds-clothing/01.jpg">
<img src="/images/work/fake-diamonds-clothing/02.jpg">
<div class="work-video dark">
	<div class="container">
		<video autoplay loop muted poster='/videos/work/cap-01.jpg'>
			<source src="/videos/work/fd-01.mp4" type="video/mp4">
			<source src='/videos/work/fd-01.webm' type='video/webm'>
			<source src='videos/work/fd-01.ogv' type='video/ogg'>
		</video>
	</div>
</div>
<img src="/images/work/fake-diamonds-clothing/04.jpg">
<img src="/images/work/fake-diamonds-clothing/03.jpg">
<img src="/images/work/fake-diamonds-clothing/05.jpg">
<img src="/images/work/fake-diamonds-clothing/06.jpg">
<img src="/images/work/fake-diamonds-clothing/07.jpg">
<img src="/images/work/fake-diamonds-clothing/08.jpg">
<img src="/images/work/fake-diamonds-clothing/09.jpg">
<img src="/images/work/fake-diamonds-clothing/10.jpg">
<img src="/images/work/fake-diamonds-clothing/11.jpg">
<img src="/images/work/fake-diamonds-clothing/12.jpg">
<img src="/images/work/fake-diamonds-clothing/13.jpg">
<img src="/images/work/fake-diamonds-clothing/14.jpg">
<img src="/images/work/fake-diamonds-clothing/15.jpg">
<img src="/images/work/fake-diamonds-clothing/16.jpg">
<img src="/images/work/fake-diamonds-clothing/18.jpg">
<img src="/images/work/fake-diamonds-clothing/17.jpg">
