---
layout: work
title: Other Work
url: #
description: Here are other various projects from over the years ranging from e-commerce websites to brand identity.
roles: <span>Identity</span>, <span>User Experience</span>, <span>User Interface Design</span>, <span>Print Design</span>, & <span>Web Development</span>
---
<div class="work-video reverse">
	<div class="container">
		<video autoplay loop muted poster='/videos/work/cap-01.jpg'>
			<source src="/videos/work/kbg-01.mp4" type="video/mp4">
			<source src='/videos/work/kbg-01.webm' type='video/webm'>
			<source src='videos/work/kbg-01.ogv' type='video/ogg'>
		</video>
	</div>
</div>
<img src="/images/work/other-work/logo-01.jpg">
<img src="/images/work/other-work/logo-04.jpg">
<img src="/images/work/other-work/logo-02.jpg">
<img src="/images/work/other-work/logo-06.jpg">
<img src="/images/work/other-work/logo-07.jpg">
<img src="/images/work/other-work/logo-03.jpg">
<img src="/images/work/other-work/logo-05.jpg">
