---
layout: work
title: Travely
description: Travely is a mobile application set on changing the way backpackers and travelers explore the globe. By putting travelers on the map, our goal is to provide your next trip's social life with like-minded people in foreign places. As the creative director, I am responsible for all application designs, branding, and web design & development.
roles: <span>Identity</span>, <span>Art Direction</span>, <span>User Experience</span>, <span>User Interface Design</span>, & <span>Web Development</span>
prev: <a class="work-nav prev" href="/work/captainu" title="Previous"><img src="/images/icons/prev.png">Previous</a>
next: <a class="work-nav next" href="/work/fake-diamonds-clothing" title="Next">Next<img src="/images/icons/next.png"></a>
---

<img src="/images/work/travely/01.jpg">
<div class="work-video mobile">
	<div class="container">
		<div class="col-sm-6">
			<video autoplay loop muted poster='/videos/work/travely-02.jpg'>
				<source src="/videos/work/travely-02.mp4" type="video/mp4">
				<source src='/videos/work/travely-02.webm' type='video/webm'>
				<source src='videos/work/travely-02.ogv' type='video/ogg'>
			</video>
		</div>
		<div class="col-sm-6">
			<div class="work-video-commentary">
				<h3>Mobile App Demo</h3>
				<p>
					Here are a few of the workflows and interactions that were designed, tested, and built for Travely's native iPhone and iPad app experience. While working on the UX and UI, I was able to work alongside the programing team to make sure the architecture and interface nuances could scale with future features while staying within the original scope for&nbsp;launch.
				</p>
			</div>
		</div>
	</div>
</div>
<img src="/images/work/travely/05.jpg">
<img src="/images/work/travely/04.jpg">
<img src="/images/work/travely/app-01.jpg">
<img src="/images/work/travely/app-02.jpg">
<img src="/images/work/travely/app-03.jpg">
<div class="work-video">
	<div class="container">
		<video autoplay loop muted poster='/videos/work/travely-01.jpg'>
			<source src="/videos/work/travely-01.mp4" type="video/mp4">
			<source src='/videos/work/travely-01.webm' type='video/webm'>
			<source src='videos/work/travely-01.ogv' type='video/ogg'>
		</video>
	</div>
</div>
