---
layout: work
title: True Lust
url: truelustmusic.com
description: True Lust (previously known as LUST), of Denver, Colorado, is the disco-noir synth outfit of Dillon Morton with Robert Sands. Creating a sound that whispers a slow, yet frantic sense of longing alongside an untold narrative of dark streets and hidden strangers, it walks a drunken line between longing and fear.
roles: <span>Art Direction</span>, <span>User Interface Design</span>, <span>Print Design</span>, & <span>Web Development</span>
---

<img src="/images/work/true-lust/01.jpg">
<img src="/images/work/true-lust/02.jpg">
<img src="/images/work/true-lust/03.jpg">
<img src="/images/work/true-lust/04.jpg">
<img src="/images/work/true-lust/05.jpg">
<img src="/images/work/true-lust/07.jpg">
