---
layout: work
title: True Lust
url: truelustmusic.com
description: True Lust is a music project of mine that is closely tied to the identity and visuals I have continually designed for album covers, packaging, and a small splash site for the upcoming full length album.
roles: <span>Art Direction</span>, <span>User Interface Design</span>, <span>Print Design</span>, & <span>Web Development</span>
prev: <a class="work-nav prev" href="/work/aurum" title="Previous"><img src="/images/icons/prev.png">Previous</a>
next: <a class="work-nav next" href="/work/other-work" title="Next">Next<img src="/images/icons/next.png"></a>
---

<img src="/images/work/true-lust/01.jpg">
<div class="work-web">
	<div class="container">
		<img src="/images/work/true-lust/04.jpg">
	</div>
</div>
