<section class="about js-menu-section js-full-height" id="about">
  <div class="full-fade"></div>
  <div class="video-background">
    <video class="hidden-xs" autoplay loop muted poster='/videos/background.jpg'>
      <source src="/videos/background.mp4" type="video/mp4">
      <source src='/videos/background.webm' type='video/webm'>
        <source src='videos/background.ogv' type='video/ogg'>
    </video>
  </div>
  <div class="about-content">
    <div class="bottom-bar">
      <div class="arrow"></div>
    </div>
    <div class="container">
      <div class="bio">
        <!-- <p>I am a multifaceted designer & web developer with over seven years of experience exploring ways to create viable, usable, and enjoyable solutions across the entire brand&nbsp;experience.</p> -->
        <p>Creating viable, usable, and enjoyable solutions across the entire brand&nbsp;experience.</p>
      </div>
      <div class="full-fade"></div>
    </div>
  </div>
</section>
<div class="work-arrow">
  <div class="arrow"></div>
</div>
<section class="work js-menu-section" id="work">
  <div class="content">
    <div class="container">
      <h3 class="text-center">
        Featured Work
      </h3>
      <div class="project-list">
        <a href="/work/captainu" class="project-thumb col-sm-6 col-lg-4">
          <img src="/images/work/captainu-logo.png">
          <img src="/images/work/captainu-thumb.jpg">
          <span class="project-title">
            <strong>CaptainU</strong>
            <em>Product design and UX across an entire app suite</em>
          </span>
        </a>
        <a href="/work/travely" class="project-thumb col-sm-6 col-lg-4">
          <img src="/images/work/travely-logo.png">
          <img src="/images/work/travely-thumb2.jpg">
          <span class="project-title">
            <strong>Travely</strong>
            <em>Product design and branding for an iOS app</em>
          </span>
        </a>
        <a href="/work/fake-diamonds-clothing" class="project-thumb col-sm-6 col-lg-4">
          <img src="/images/work/fake-diamonds-logo.jpg">
          <img src="/images/work/fake-diamonds-thumb.jpg">
          <span class="project-title">
            <strong>Fake Diamonds Clothing</strong>
            <em>Designing & building an online clothing company</em>
          </span>
        </a>
        <a href="/work/aurum" class="project-thumb col-sm-6 col-lg-4">
          <img src="/images/work/aurum-logo.png">
          <img src="/images/work/aurum-thumb.jpg">
          <span class="project-title">
            <strong>Aurum</strong>
            <em>Branding the identity of an emerging fashion line</em>
          </span>
        </a>
        <a href="/work/true-lust" class="project-thumb col-sm-6 col-lg-4">
          <img src="/images/work/true-lust-logo.png">
          <img src="/images/work/true-lust-thumb.jpg">
          <span class="project-title">
            <strong>True Lust</strong>
            <em>Art direction and visual identity for a concept album</em>
          </span>
        </a>
        <a href="/work/other-work" class="project-thumb col-sm-6 col-lg-4">
          <img src="/images/work/other-logo.png">
          <img src="/images/work/other-thumb.jpg">
          <span class="project-title">
            <strong>Other Work</strong>
            <em>Various other projects worth sharing</em>
          </span>
        </a>
      </div>
      <!--
      <h3 class="text-center">
        Previous Client Work
      </h3>
      <div class="client-list">
        <div class="client-logo">
          <a href="https://www.coloradolottery.com/" target="_blank">
            <img src="/images/layout/logo-cl.jpg">
          </a>
        </div>
        <div class="client-logo">
          <a href="http://www.solidfire.com/" target="_blank">
            <img src="/images/layout/logo-sf.jpg">
          </a>
        </div>
        <div class="client-logo">
          <a href="http://coloradoskiandgolf.com/" target="_blank">
            <img src="/images/layout/logo-vr.jpg">
          </a>
        </div>
        <div class="client-logo">
          <a href="http://zenplanner.com/" target="_blank">
            <img src="/images/layout/logo-zp.jpg">
          </a>
        </div>
        <div class="client-logo">
          <a href="http://www.victorsandspoils.com/" target="_blank">
            <img src="/images/layout/logo-vs.jpg">
          </a>
        </div>
      </div>
      -->
    </div>
  </div>
</section>
<section class="hero contact js-menu-section" id="contact">
  <div class="content">
    <div class="container text-center">
      <ul>
        <li>
          <a href="mailto:contact@dillonmorton.com" class="social-email">
            Email
          </a>
        </li>
        <li>
          <a href="https://github.com/DillonMorton" class="social-github" target="_blank">
            Github
          </a>
        </li>
        <li>
          <a href="https://dribbble.com/dillonmorton" class="social-dribbble" target="_blank">
            Dribbble
          </a>
        </li>
        <li>
          <a href="https://linkedin.com/pub/dillon-morton/48/541/63b/en" class="social-linkedin" target="_blank">
            LinkedIn
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
