---
title: Hello
---

<section class="hero about" id="about">
  <div class="container">
    <div class="row">
      <!-- <div class="content col-sm-6">
        <p>I am a multifaceted web developer & designer with over 5 years of experience getting my hands dirty with pixel pushing, graceful solutions, & seeing projects through from concept to launch.</p>
      </div> -->
    </div>
  </div>
  <div class="video-background">
    <video autoplay loop muted>
      <source src="/videos/background.mp4" type="video/mp4">
    </video>
  </div>
</section>
<section class="work" id="work">
  <div class="content">
    <div class="container">
      <div class="project-list">
        <a href="/work/fake-diamonds-clothing" class="project-thumb col-sm-4">
          <img src="/images/work/test-thumb.jpg">
        </a>
        <a href="/work/travely" class="project-thumb col-sm-4">
          <img src="/images/work/test-thumb-02.jpg">
        </a>
        <a href="/work/kb-griffin" class="project-thumb col-sm-4">
          <img src="/images/work/test-thumb-03.jpg">
        </a>
        <a href="#" class="project-thumb col-sm-4">
          <img src="/images/work/test-thumb-05.jpg">
        </a>
        <a href="/work/true-lust" class="project-thumb col-sm-4">
          <img src="/images/work/test-thumb-04.jpg">
        </a>
        <a href="#" class="project-thumb col-sm-4">
          <img src="/images/work/test-thumb-06.jpg">
        </a>
      </div>
      <h3 class="text-center">
        Previous Clients
      </h3>
      <div class="client-list">
        <div class="client-logo">
          <a href="https://www.coloradolottery.com/" target="_blank">
            <img src="/images/layout/logo-cl.jpg">
          </a>
        </div>
        <div class="client-logo">
          <a href="http://www.solidfire.com/" target="_blank">
            <img src="/images/layout/logo-sf.jpg">
          </a>
        </div>
        <div class="client-logo">
          <a href="http://coloradoskiandgolf.com/" target="_blank">
            <img src="/images/layout/logo-vr.jpg">
          </a>
        </div>
        <div class="client-logo">
          <a href="http://zenplanner.com/" target="_blank">
            <img src="/images/layout/logo-zp.jpg">
          </a>
        </div>
        <div class="client-logo">
          <a href="http://www.victorsandspoils.com/" target="_blank">
            <img src="/images/layout/logo-vs.jpg">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero contact" id="contact">
  <div class="content">
    <div class="container text-center">
      <ul>
        <li>
          <a href="#" class="social-email">Email</a>
        </li>
        <li>
          <a href="#" class="social-github">Github</a>
        </li>
        <li>
          <a href="#" class="social-dribbble">Dribbble</a>
        </li>
        <li>
          <a href="#" class="social-linkedin">LinkedIn</a>
        </li>
      </ul>
    </div>
  </div>
</section>